<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="/styles/home.css">


    <body>

        <div class="background-pic">
            <div class="image-overlay"></div>
            <div class="row w-100">
                <div class="spacer"></div>
                <div class="col-md-6 d-flex justify-content-center">
                    <div class="cube1 my-5">
                        <h1><a href="/music">Music</a></h1>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-center">
                    <div class="cube2 my-5">
                        <h1><a href="/shows">Shows</a></h1>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-center">
                    <div class="cube3 my-5">
                        <h1><a href="/store">Store</a></h1>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-center">
                    <div class="cube4 my-5">
                        <h1><a href="/about">About</a></h1>
                    </div>
                </div>

            </div>

        </div>
        <!-- <div class="photo-text">
            <h1 class="my-3">Neon Noir...</h1>
            <p class="text-center">is a Denver-based indie rock band. Originally formulated as the Misfits cover
                band 'Fiend
                Club', Neon Noir have taken their orignal music in a wildy different direction. One part atmospheric
                rock,
                one part
                R&B, one part anything they feel like, Neon Noir refuses to fit into any box.</p>

        </div> -->



        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
        <script src="/scripts/fixedNav.js"></script>
    </body>