<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/styles/music.css">
    <div class="background-pic d-flex flex-column align-items-start justify-content-evenly">
        <div class="image-overlay"></div>
        <div class="banner">
            <h1 class="banner-text">MUSIC</h1>
        </div>
        <div class="banner">

        </div>
    </div>

    <script src="/scripts/fixedNav.js"></script>