<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/styles/shows.css">

    <div class="background-pic d-flex flex-column align-items-start justify-content-evenly">
        <div class="image-overlay"></div>
        <div class="banner">
            <h1 class="banner-text">SHOWS</h1>
        </div>
        <div class="container d-flex flex-wrap">

            <div class="card bg-dark m-3" style="width: 18rem;">
                <img src="https://globehall.com/wp-content/uploads/2021/08/Violet_5372.jpeg" class="card-img-top "
                    alt="...">
                <div class="card-body bg-dark">
                    <p class="card-text "><a
                            href="https://globehall.com/event/violet-visionaries-play-wrtes-stone-jackals-neon-noir-scuffed/"
                            class="text-decoration-none">
                            Globe Hall Presents Visual Visionaries, Play Wr!tes, Stone Jackals, Neon Noir and
                            Scuffed on Thursday, August 19</a>
                    </p>
                </div>
            </div>
            <div class="card bg-dark m-3" style="width: 18rem;">
                <img class="img" src="/images/1024show.jpg" class="card-img-top" alt="...">
                <div class="card-body bg-dark">
                    <p class="card-text "><a href="https://www.westword.com/event/neon-noir-12556347"
                            class="text-decoration-none">
                            Neon Noir w/ Vannah Lee + Maeve & Quinn, October 24</a>
                    </p>
                </div>
            </div>

        </div>
    </div>

    <script src="/scripts/fixedNav.js"></script>